blockquote {
  padding: 20px;
  box-shadow: /*Para dar sombra en forma de bloque*/
  inset 0 -3px 15px rgb(0, 174, 255),/*Para generar un efecto de profundidad*/
  0 0 0 2px rgb(255, 255, 255),/*Para generar un marco*/
  10px 10px 10px rgba(0, 0, 0, 0.769);/*Para generar un efecto de que el bloque flote*/
  text-align: center;
  color: rgb(0, 0, 0);
}
iframe {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  box-shadow:/*Para dar sombra en forma de bloque*/
  0px 0px 10px 5px rgba(24, 182, 226, 0.799);/*Para generar un efecto de que el bloque tenga iluminaci[on de fondo*/
}
.ejemplo-text-shadow {
  margin-top: 30px;
  text-shadow: /*Para dar sombra en texto*/
  rgb(18, 245, 215) 2px 2px 2px,
  rgb(0, 0, 0) 4px 4px 4px;/*Para generar un efecto de que el elemento flote*/
  font-size: 25px;
  color: rgb(255, 255, 255);
}
body {
  background-color: rgb(233, 233, 233);
  color: rgb(255, 255, 255);
  font-family: 'Courier New', Courier, monospace;
}
/*Para generar una transición*/
.ejemplo-transition-duration {
  width: 400px;
  height: 100px;
  background-color: rgb(88, 17, 110);
  border-radius: 10px;
  text-align: center;
  transition-duration: 5s, 2s;/*Duración de la transición*/
  transition-property: margin-left, background-color;/*Propiedades de la transición*/
}
.ejemplo-transition-duration:hover {/*Transición al pasar el mouse sobre el elemento*/
  margin-left: 300px;/*Se mueve a la derecha, ya que da un margen a la izquierda*/
  background-color: rgb(105, 31, 225);/*Se cambia el color de fondo*/
}